name: Check if UI Test Passed

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - labeled
      - unlabeled
      - synchronize

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  diff:
    runs-on: ubuntu-latest
    outputs:
      isApp: ${{ steps.diff.outputs.isApp }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # Pin v4.1.1
      - name: Detect Changes
        uses: './.github/actions/diffs'
        id: diff

  check-ui-test-status:
    runs-on: ubuntu-latest
    needs: diff
    if: needs.diff.outputs.isApp == 'true'
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # Pin v4.1.1
      - name: Check Required UI Test Label
        uses: mheap/github-action-required-labels@v5
        with:
          labels: 'ui-tested'
          mode: exactly
          count: 1
