name: Publish package

on:
  workflow_dispatch:
    inputs:
      versionBumpType:
        description: Version bump type
        required: true
        default: patch
        type: choice
        options: [major, minor, patch]

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check permission
        if: ${{ !contains('["17008875", "33892812", "2819672", "203853998"]', github.actor_id) }}
        run: echo 'Permission denied' && exit 1
      - name: Checkout
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v5
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm build
      - name: Configure git user
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
      - name: Bump & publish package
        run: npm version ${{ inputs.versionBumpType }} --no-git-tag-version && npm publish --provenance --access public
      - name: Commit change
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: 'chore: bump sdk version'
  create-pr:
    runs-on: ubuntu-latest
    needs: publish
    strategy:
      matrix:
        repo:
          - bucket-frontend-v5
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: Bucket-Protocol/${{ matrix.repo }}
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 24
      - name: Bump version
        run: pnpm add bucket-protocol-sdk@${{ needs.publish.outputs.latest-version }} --save-exact
      - name: Create PR
        uses: peter-evans/create-pull-request@v7
        with:
          branch: bump-bucket-protocol-sdk-v${{ needs.publish.outputs.latest-version }}
          title: 'chore: bump bucket-protocol-sdk to v${{ needs.publish.outputs.latest-version }}'
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
