name: Publish test package

on:
  workflow_dispatch:
    inputs:
      pre-release-tag:
        description: 'Pre-release tag'
        required: true
        default: 'dev'
        type: string

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org/'
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Compile
        run: pnpm build
      - name: Bump & publish package
        run: pnpm version prerelease --preid ${{ inputs.pre-release-tag }} --no-git-tag-version && pnpm publish --access public --tag dev --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
