name: Publish package

on:
  workflow_dispatch:
    inputs:
      version-bump-type:
        description: 'Version bump type'
        required: true
        default: 'patch'
        type: choice
        options:
          - major
          - minor
          - patch

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check permission
        if: ${{ !contains('["17008875", "33892812", "2819672"]', github.actor_id) }}
        run: echo 'Permission denied' && exit 1
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 20
          registry-url: 'https://registry.npmjs.org/'
          cache: 'pnpm'
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Compile
        run: pnpm build
      - name: Configure git user
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
      - name: Bump & publish package
        run: pnpm version ${{ inputs.version-bump-type }} && pnpm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  create-pr:
    runs-on: ubuntu-latest
    needs: publish
    strategy:
      matrix:
        repo:
          - bucket-frontend-v5
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          repository: Bucket-Protocol/${{ matrix.repo }}
          token: ${{ secrets.ADMIN_TOKEN }}
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 20
      - name: Bump version
        run: |
          pnpm upgrade bucket-protocol-sdk@$latest --save-exact
      - name: Create PR
        uses: peter-evans/create-pull-request@v7
        with:
          branch: bump-bucket-protocol-sdk
          title: 'chore: bump bucket-protocol-sdk'
          token: ${{ secrets.ADMIN_TOKEN }}
